<% layout("layouts/boilerplate") -%>
<div class="row">
  <div class="col-4 offset-4">
    <h1 class="mt-4 mb-5 text-center">Edit blog</h1>
    <form
      class="needs-validation"
      action="/blogs/<%=blog.id%>?_method=PUT"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          id="title"
          name="title"
          value="<%=blog.title%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="subtitle">Subtitle</label>
        <input
          class="form-control"
          id="subtitle"
          name="subtitle"
          value="<%=blog.subtitle%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          id="image"
          name="image"
          value="<%=blog.image%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="content">Content</label>
        <textarea
          class="form-control"
          id="content"
          name="content"
          rows="4"
          required
        >
<%=blog.content%></textarea
        >
      </div>
      <button class="mt-4 btn btn-success" type="submit">Update Blog</button>
    </form>
  </div>
</div>
