<% layout("layouts/boilerplate") -%>
<div class="row">
  <div class="col-6 offset-3">
    <h2 class="mt-4"><%= blog.title %></h2>
    <h5 class="text-muted"><%= blog.subtitle%></h5>
    <div class="d-flex gap-3 mt-4">
      <img
        src="<%=blog.author.image%>"
        class="img-fluid rounded-circle"
        style="width: 56px; height: 56px; object-fit: cover"
      />
      <div>
        <h5 class="mb-0"><%=blog.author.username%></h5>
        <p>
          <%=new Date(blog.updatedAt).toLocaleDateString("en-US", {day:
          "2-digit", month: "short", year: "numeric"})%>
        </p>
      </div>
    </div>
    <hr class="mb-5" />
    <img class="img-fluid" src="<%=blog.image%>" />
    <p><%= blog.content%></p>
    <%if (blog.author._id.equals(currentUser.id)) {%>
    <div class="d-flex gap-2">
      <a class="btn btn-warning" href="/blogs/<%=blog.id%>/edit">Edit</a>
      <form action="/blogs/<%=blog.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
    </div>
    <%}%>
  </div>
</div>
